@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url(imagens/background.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

#divbackground {
    width: 98vw;    
    display: flex;
    flex-direction: column;        
}

#divlogos {
    background-color: white;
    height: 10vh;
    width: 90vw;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px lightblue;
    margin-left: auto;
    margin-right: auto;
    
}

#divlogos img {
height: 100%;
}
#imagemgrr {
    height: 19vh !important;
}

#divformulario {
    background-color: white;
    height: 8vh;
    width: 90vw;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px lightblue;
    margin-left: auto;
    margin-right: auto;
}

#divnome {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-weight: 700;
    margin-left: 15px;

    
}
#divcidade {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-weight: 700;
    margin-left: 15px;
    

    
}
input, select {
    
    height: 1.3rem;
    border-radius: 0.5rem;
}

#divunidade {
    font-weight: 700;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
#divpremio {
    font-weight: 700;
    margin-left: 15px;
    display: flex;
    flex-direction: column;

}
#divbolamaior{
    font-weight: 700;
    margin-left: 15px;
    display: flex;
    flex-direction: column;

}
#btnenviar {
    font-weight: 700;
    margin-left: 15px;
    background-color: green;
    border: 0;
    padding: 5px;
    height: 9vh;
    border-radius: 0.2rem;
    color: white;
}
#btnenviar:hover {
    opacity: 0.8;
    }

#divformulariobm {
    background-color: white;
    min-height: 8vh;
    width: 90vw;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px lightblue;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.divsbm {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    font-weight: 700;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}
.divsbm input{
    width: 250px;

}


#divimagem {
    background-image: url(imagens/centena.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1320px;
    height: 745px;
    margin-top: 1rem;
    margin-left: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}
#divganhador {
    margin-top: 315px;
    text-align: center;
    color: #BC0D0C;
    padding: 0 20px 0 20px;
}

#nomeganhador{
    font-weight: 800;
    font-size: 4rem;
    
    
}

#nomeunidade {
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 90px;

}

#previewImage {
    margin-top: 1rem;
    margin-left: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#divsbatidas {
    margin-top: 280px;
    font-weight: 600;
    font-size: x-large;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: #BC0D0C;
    margin-left: auto;
    margin-right: auto;
}


.divbatidanumeros p {
    margin-top: 15px;
}

.bmunidade {
    font-size: 1.1rem;
}
fieldset {
    border-color: #BC0D0C;
    width: 600px;
    margin: 5px 15px 5px 15px; 
    border-radius: 0.5rem;
    min-height: 180px;
    border: 2px solid !important;
    margin: 0.5rem !important;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.bmnomeclass {
    font-size: 2rem;
    font-weight: 700 !important;
    line-height: 2.2rem;
}

button {
    cursor: pointer;
}

.cidadebold {
    font-weight: bolder !important;
}

#divsempremio {
    position: absolute;
    top: 130px;
    right: 5vw;
    
}
.sempremio {
    background-color: orangered;
    color: white;
    border: none;
    padding: 7px;
    height: auto;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
}


.sempremio:hover {
    background-color: orange;
    color: black;
}
.sempremio2 {    
    padding: 7px;
    height: auto;
    font-weight: 700;
    cursor: unset;
    margin-bottom: 10px;
}
.btnsorteios {
    background-color: orangered;
    color: white;
    border: none;
    padding: 7px;
    height: auto;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}
.btnsorteios:hover {
    background-color: orange;
    color: black;
}

.btnsorteios2 {    
    padding: 7px;
    height: auto;
    font-weight: 700;
    cursor: unset;
    margin-bottom: 10px;
}

#btnrefazer {
    
    background-color: orangered;
    color: white;
    border: none;
    padding: 7px;
    height: auto;
    font-weight: 700;
    cursor: pointer;
    margin: 15px;
    
    
    
}
#btnrefazer:hover {
    background-color: orange;
    color: black;
}


.divsimagens {
    background-color: white;
    min-height: 8vh;
    max-width: 95vw;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px lightblue;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.divsimagens img {
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    cursor: pointer;
    border: solid 5px lightgray;
}
.divsimagens img:hover {
    border: solid 5px lightblue;
}
.divsimagens div {
    margin: 7px;
}


#lightboximg {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 99vw;
    height: 99vh;
    position: fixed;
    top: 0;
    display: flex;
    visibility: hidden;
}

#lightboximg img{
    height: 90vh;
    margin: auto;
}

#lightboximg p{
    position: relative;
    top: 25px;
    right: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}
